{% extends "intensifier/base.html" %}
{%  load radio %}

{% block open-graph %}
    <meta property="og:title" content="Radio Schedules - Arizona Public Media" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="{{ cms_page.title }}" />
    <meta property="og:image" content="{{ cms_page.theme.banner.url }}" />
{% endblock %}

{% block extra_style %}{% print_form_css %}{% endblock %}

{% block extra_script %}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        // fade in #back-top
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 125) {
                    $('#back-top').fadeIn();
                } else {
                    $('#back-top').fadeOut();
                }
            });

            // scroll body to 0px on click
            $('#back-top a').click(function () {
                $('body,html').animate({scrollTop: 0}, 800);
                return false;
            });
        });
    });
})(scampi.jQuery);
</script>
{% endblock %}

{% block content %}
<!-- creating a slice -->
<div class="slice clearfix content-bg">
    <div class="grid_2">
        {% block zone_one %}{% endblock %}
    </div>
    <div class="grid_1">{% block zone_two %}
        <div class="namedbox" id="schedules-print">
            <h1 class="boxtop bt-red">Print Schedules</h1>
            {% print_form %}
        </div>{% endblock %}
    </div>
</div>
<!-- end slice -->
<p id="back-top"><a href="#top"><span></span><em>Back to top</em> </a></p>
{% endblock %}