{% extends "ultralaser/base.html" %}
{% load radio %}

{% block open-graph %}
	<meta name="description" content="Radio Schedules for NPR 89.1, Classical 90.5, and Jazz 89.1 HD2 Tucson.">
	<meta name="keywords" content="NPR 89.1 schedule, Classical 90.5 schedule, Jazz 89.1 HD2 Tucson">
	
    <meta property="og:title" content="Radio Schedules - AZPM" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="Radio and streaming schedules for NPR 89.1, Classical 90.5, and Jazz 89.1 HD2 Tucson." />
    <meta property="og:image" content="https://media.azpm.org/master/image/2024/12/6/ogimg/radio-schedules-og.jpg" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@azpublicmedia">
	<meta name="twitter:creator" content="@azpublicmedia">
	<meta name="twitter:title" content="Radio Schedules - AZPM">
	<meta name="twitter:description" content="Radio and streaming schedules for NPR 89.1, Classical 90.5, and Jazz 89.1 HD2 Tucson.">
	<meta name="twitter:image" content="https://media.azpm.org/master/image/2024/12/6/ogimg/radio-schedules-og.jpg">
{% endblock %}

{% block extra_style %}
	<link href="https://media.azpm.org/master/doc/redesign/css/bootstrap-datepicker3.css" rel="stylesheet">
	<link href="https://media.azpm.org/master/doc/redesign/css/azpm2022.css" rel="stylesheet">
{% endblock %}
{% block extra_script %}
	<script src="https://media.azpm.org/master/doc/redesign/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

{% block content %}
	{% block zone_one %}{% endblock %}
{% endblock %}