{% extends "ultralaser/base.html" %}
{%  load radio %}

{% block open-graph %}
   <meta property="og:title" content="Radio Schedules - Arizona Public Media" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="Radio Schedules for NPR 89.1 and Classical 90.5" />
    <meta property="og:image" content="https://media.azpm.org/master/image/2017/1/11/ogimg/radio-schedules.jpg" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@azpm">
	<meta name="twitter:creator" content="@azpm">
	<meta name="twitter:title" content="Radio Schedules - Arizona Public Media">
	<meta name="twitter:description" content="Radio Schedules for NPR 89.1 and Classical 90.5">
	<meta name="twitter:image" content="https://media.azpm.org/master/image/2017/1/11/ogimg/radio-schedules.jpg">
{% endblock %}

{% block extra_script %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://media.azpm.org/master/doc/redesign/js/bootstrap.min.js"></script>
	<script src="https://media.azpm.org/master/doc/redesign/js/smooth-scroll.js"></script>
	<script src="https://media.azpm.org/master/doc/redesign/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

{% block content %}
	{% block zone_one %}{% endblock %}
{% endblock %}