<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-primary btn-block hideshbtn" data-toggle="collapse" data-target="#datesched" aria-expanded="false"><i class="fa fa-calendar" aria-hidden="true"></i><i class="fa fa-arrow-circle-o-up"></i> Schedules by Date</a>
	</div>
</div>

<div class="row collapse in" id="datesched">
	<div class="col-sm-12">
		{% load scheduling %}{% for block in calendars %}
		<table class="schedule-calendar">
			<tr>
				<td class="calendar-month" colspan="7">{{ block.day|date:"F, Y" }}</td>
			</tr>
				<tr class="weekdays">
					<td>S</td>
					<td>M</td>
					<td>T</td>
					<td>W</td>
					<td>Th</td>
					<td>F</td>
					<td>S</td>
				</tr>{% for weeks in block.calendar %}
				<<tr class="calendar-week">{% for day in weeks %}
            <td class="{% proper_td_class block day idealised_day %}">{% ifequal day.month block.day.month %}
                {% if day <= max_days %}
                    <a href="{% url radio:index-date day.year day.month day.day %}">{{ day|date:"j" }}</a>
                {% else %}
                    {{ day|date:"j" }}{% endif %}
            {% else %}&nbsp;{% endifequal %}</td>{% endfor %}
        </tr>{% endfor %}
    </table>{% endfor %}
	</div>
</div>