{% extends "schedules/base.html" %}

{% block zone_one %}
    {% include "schedules/service/nav.html" %}
    {% regroup airing by service as set %}{% for service in set %}
        <div class="namedbox">
            <h1 class="boxtop bt-blue">{{ service.grouper.name }}</h1>
            <h3 class="schedules-date">{{ idealised_day|date:"l, F j, Y" }}</h3>
            <table class="airing-table bordered-table zebra-table">
                <thead><tr>
                    <th>Time</th>
                    <th>Show</th>
                </tr></thead>{% for air in service.list %}
                <tr>
                    <td class="show-airtime">{{ air.time|time:"f a" }}</td>
                    <td class="show-info radio">
                        {% ifequal service.grouper.keyname "kuaz" %}<span class="show-title"><a class="no-href" name="{{ air.time|time:'f.a' }}">{{ air.airing.series.name }}</a></span>
                        {% else %}{% if air.airing.composer %}{{ air.airing.composer }} &ndash; {% endif %}<span class="show-title"><a class="no-href" name="{{ air.time|time:'f.a' }}">{{ air.airing.name }}</a></span>
                        <blockquote>{% spaceless %}
                            {% if air.airing.songs %}{% for song in air.airing.songs.all %}
                                {% if song.composer %}{{ song.composer }} &ndash; {% endif %}{{ song.name }}<br/>{% endfor %}
                            {% else %}
                                {%  if air.start < rightnow %}
                                    {% if air.airing.ensemble %}
                                    ensemble: {{ air.airing.ensemble|cut:";" }}<br/>{% endif %}{% if air.airing.soloist %}
                                    soloist: {{ air.airing.soloist|cut:";" }}<br/>{% endif %}{% if air.airing.catalogue_number %}
                                    catalog #: {{ air.airing.catalogue_number|cut:";" }}<br/>{% endif %}{% if air.airing.record_company %}
                                    label: {{ air.airing.record_company|cut:";" }}<br/>{% endif %}
                                {% endif %}
                            {%  endif %}
                        {% endspaceless %}
                        </blockquote>
                        {% endifequal %}
                    </td>
                </tr>{% endfor %}
            </table>
        </div>{%  endfor %}
{% endblock %}

{% block zone_two %}
    {{ block.super }}
    <div class="namedbox" id="schedules-calendars">
        <h1 class="boxtop bt-grey">Schedule Calendar</h1>
        {% include "schedules/calendar.html" %}
    </div>{% if underwriting_spotlets %}
    <div class="namedbox">
        <h1 class="boxtop bt-red">Support Comes From</h1>
        {% for spot in underwriting_spotlets %}
            <a href="{{ spot.myurl }}" ><img src="{{ spot.image.url }}" alt="{{ spot.underwriter }}"/></a>
            <hr size="6" color="gray" style="margin:0px;" />
        {% endfor %}
    </div>{% endif %}
{% endblock %}