<div class="row">
	<div class="col-sm-12 text-center">
		<a href="http://rescorp.org/" target="_blank"><img src="https://media.azpm.org/master/image/2017/12/22/squaread/rescorp.jpg" class="img-responsive bordergray" style="margin:40px auto 10px auto;" alt="Research Corporation for Science Advancement"></a>
		<span class="support-message">
			Supported by the <a href="http://rescorp.org/" target="_blank" style="font-style:italic;">Research Corporation for Science Advancement</a>
		</span>
	</div>
</div>