{% extends "ultralaser/base.printable.html" %}

{% block open-graph %}
    <meta property="og:title" content="Radio Schedules - Print Center - AZPM" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="{{ cms_page.title }}" />
    <meta property="og:image" content="{{ cms_page.theme.banner.url }}" />
{% endblock %}

{% load protrack %}
{% block extra_style %}{% print_form_css %}
    <style type="text/css">
        body {
            color: #000000;
            background: #FFFFFF;
            margin: 0px;
        }

        a:link, a:visited {
            background: #FFFFFF;
            color: #000000;
            text-decoration: none;
            font-weight: bold;
        }

        h3 {
            background: #FFFFFF;
            color: #000000;
            border-bottom:1px solid #555555;
        }

        table tr {
            vertical-align:top;
        }

        table tr td blockquote{
            margin:0px;
            font-weight:normal;
            font-size:85%;
            font-style:italic;
        }

        .top-command-bar {
            width: 100%;
            margin: 0;
            background-color: #000;
            color: #fff;
            line-height: 40px;
            text-align: center;
        }
        div#footer {
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }

    </style>
{% endblock %}

{% block content %}
    <form action="." method="POST" class="top-command-bar">{% csrf_token %}
        {% for field in form %}
            {% if field.field.required %}<strong>{% endif %}{{  field.label_tag }}{% if field.field.required %}</strong>{% endif %}&nbsp;{{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="submit"/>
        <a href="{% url radio:index %}">Return to Schedules</a>
    </form>
    {% if results %}
        <h1>{{ results.service.name }}</h1>
        <h2>{{ results.start_date|date:"F jS" }} {%  ifnotequal results.start_date results.end_date %}to {{ results.end_date|date:"F jS"}}{% endifnotequal %}</h2>
        {% regroup results.airing by date as airing_list %}
        {% for item in airing_list %}
            <h3>{{ item.grouper|date:"l, F jS" }}</h3>
            <table style="width:100%; font-weight:bold;">
                {% for showing in item.list %}
                    <tr>
                        <td style="width:85px;">{{ showing.time|time:"" }} </td>
                        <td>  <!-- {{ showing.service.keyname }} -->
                            {% ifequal showing.service.keyname "kuaz" %}{{ showing.airing.series.name }}
                                {% else %}{% if showing.airing.composer %}{{ showing.airing.composer }} &ndash; {% endif %}{{ showing.airing.name }}
                                <blockquote>{% spaceless %}
                                    {% if showing.airing.songs %}{% for song in showing.airing.songs.all %}
                                        {% if song.composer %}{{ song.composer }} &ndash; {% endif %}{{ song.name }}<br/>{% endfor %}
                                    {% else %}
                                        {%  if showing.start < rightnow %}
                                            {% if showing.airing.ensemble %}
                                                ensemble: {{ showing.airing.ensemble|cut:";" }}<br/>{% endif %}{% if showing.airing.soloist %}
                                            soloist: {{ showing.airing.soloist|cut:";" }}<br/>{% endif %}{% if showing.airing.catalogue_number %}
                                            catalog #: {{ showing.airing.catalogue_number|cut:";" }}<br/>{% endif %}{% if showing.airing.record_company %}
                                            label: {{ showing.airing.record_company|cut:";" }}<br/>{% endif %}
                                        {% endif %}
                                    {%  endif %}
                                {% endspaceless %}
                                </blockquote>
                            {% endifequal %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {%  else %}
        <h1>No Results</h1>
    {%  endif %}
{% endblock %}
