<form action="{% url radio:print %}" target="_blank" method="post">
    {% csrf_token %}{% for field in form %}{% if field.errors %}
        <div class="form-row field-errors">{% else %}
        <div class="form-row">{% endif %}
    <div class="form-label">{% if field.field.required %}<strong>{% endif %}{{ field.label_tag }}
    {% if field.field.required %}</strong>{% endif %}</div>
    <div class="form-field">{{ field }}</div>
    {% if field.help_text %}
        <div class="form-help">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}
        <div class="form-error">{{ field.errors }}</div>{% endif %}
    </div>{% endfor %}
    <div class="form-action-row">
        <input type="submit" name="submit" value="Print" class="submit"/>
    </div>
</form>