{% extends "schedules/service/base.html" %}

{% block zone_one %}
    {% include "schedules/service/nav.html" %}{% regroup airing by date as airweek %}{% for day in airweek %}
    <div class="namedbox">
        <h1 class="boxtop bt-blue">{{ service.name }} Week at a glance</h1>
        <h3 class="schedules-date">{{ day.grouper|date:"l, F j, Y" }}</h3>
        <table class="airing-table bordered-table zebra-table">
            <thead><tr>
                <th>Time</th>
                <th>Show</th>
            </tr></thead>{% for air in day.list %}
            <tr>
                <td class="show-airtime">{{ air.time|time:"f a" }}</td>
                <td class="show-info">
                    <span class="show-title">{% if air.airing.composer %}{{ air.airing.composer }} &ndash; {% endif %}<a class="no-href" name="{{ air.time|time:'f.a' }}">{{ air.airing.name }}</a></span>
                    <blockquote>{% spaceless %}
                        {% if air.airing.songs %}{% for song in air.airing.songs.all %}
                            {% if song.composer %}{{ song.composer }} &ndash; {% endif %}{{ song.name }}<br/>{% endfor %}
                        {% else %}
                            {%  if air.start < rightnow %}
                                {% if air.airing.ensemble %}
                                ensemble: {{ air.airing.ensemble|cut:";" }}<br/>{% endif %}{% if air.airing.soloist %}
                                soloist: {{ air.airing.soloist|cut:";" }}<br/>{% endif %}{% if air.airing.catalogue_number %}
                                catalog #: {{ air.airing.catalogue_number|cut:";" }}<br/>{% endif %}{% if air.airing.record_company %}
                                label: {{ air.airing.record_company|cut:";" }}<br/>{% endif %}
                            {% endif %}
                        {%  endif %}
                    {% endspaceless %}
                    </blockquote>
                </td>
            </tr>{% endfor %}
        </table>
    </div>{% endfor %}
{% endblock %}