{% extends "schedules/service/base.html" %}

{% block zone_one %}
    {% include "schedules/service/nav.html" %}{% regroup airing by date as airweek %}{% for day in airweek %}
    <div class="namedbox">
        <h1 class="boxtop bt-blue">{{ service.name }} Week at a glance</h1>
        <h3 class="schedules-date">{{ day.grouper|date:"l, F j, Y" }}</h3>
        <table class="airing-table bordered-table zebra-table">
            <thead><tr>
                <th>Time</th>
                <th>Show</th>
            </tr></thead>{% for air in day.list %}
            <tr>
                <td class="show-airtime">{{ air.time|time:"f a" }}</td>
                <td class="show-info">
                    <span class="show-title"><a class="no-href" name="{{ air.time|time:'f.a' }}">
                        {{ air.airing.series.name }}
                    </a></span>
                </td>
            </tr>{% endfor %}
        </table>
    </div>{% endfor %}
{% endblock %}