{% extends "schedules/base.html" %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="{{ cms_realm.get_absolute_url }}" title="{{ cms_realm.name }}">{{ cms_realm.name }}</a></li>
        <li><a href="{{ cms_section.get_absolute_url }}" title="{{ cms_section.element.name }}">{{ cms_section.element.name }}</a></li><!-- woot schedules app -->
        <li class="last"><a href="{% url radio:service service.keyname %}" title="{{ service.name }}">{{ service.name }}</a></li>
    </ul>
{% endblock %}

{% block zone_two %}
    {{ block.super }}
    <div class="namedbox" id="schedules-calendars">
        <h1 class="boxtop bt-grey">Schedule Calendar</h1>
        {% include "schedules/service/calendar.html" %}
    </div>{% if underwriting_spotlets %}
    <div class="namedbox">
        <h1 class="boxtop bt-red">Support Comes From</h1>
        {% for spot in underwriting_spotlets %}
            <a href="{{ spot.myurl }}" ><img src="{{ spot.image.url }}" alt="{{ spot.underwriter }}"/></a>
            <hr size="6" color="gray" style="margin:0px;" />
        {% endfor %}
    </div>{% endif %}
{% endblock %}