{% extends "schedules/service/base.html" %}

{% block zone_one %}
<section id="schedules">
		<div class="container-fluid">
			<div class="row">				
				<div class="col-lg-12">
					<span class="top-tag-row">
						<ol class="breadcrumb" style="margin-bottom: 5px;">
						  <li><a href="https://radio.azpm.org/schedules/">Radio Schedules</a></li>
						  <li class="active">{{ service.name }}</li>
						</ol>
						<a name="top"></a>
					</span>					
				</div>
			</div>
			<div class="row">				
				<div class="col-lg-12">
					<h1>{{ service.name }} Schedule</h1>	
					{% include "schedules/service/nav.html" %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 marginbottom">
					{% include "schedules/service/calendar.html" %}
					{% include "schedules/service/underwriting-channel.html" %}
				</div>				
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-8">
							<h3>{{ idealised_day|date:"l, F j, Y" }}</h3>
						</div>
					</div>					
					<div class="row schedlistkey">
						<div class="col-sm-3">
							Time					
						</div>
						<div class="col-sm-9">
							Show					
						</div>
					</div>
					{% for air in airing %}
					<div class="row schedlistline">
						<div class="col-sm-3">
							{{ air.time|time:"f a" }}					
						</div>
						<div class="col-sm-9">
							<h3>{% if air.airing.composer %}{{ air.airing.composer }} &ndash; {% endif %}{{ air.airing.name }}</h3>
								{% spaceless %}
                             {% if air.airing.songs %}{% for song in air.airing.songs.all %}
                            {% if song.composer %}{{ song.composer }} &ndash; {% endif %}{{ song.name }}<br/>{% endfor %}
                             {% else %}
                            {%  if air.start < rightnow %}
                            {% if air.airing.ensemble %}
                                <strong>Ensemble</strong>: {{ air.airing.ensemble|cut:";" }}<br/>{% endif %}{% if air.airing.soloist %}
                                    <strong>Soloist</strong>: {{ air.airing.soloist|cut:";" }}<br/>{% endif %}{% if air.airing.catalogue_number %}
                                    <strong>Catalog #</strong>: {{ air.airing.catalogue_number|cut:";" }}<br/>{% endif %}{% if air.airing.record_company %}
                                    <strong>Label</strong>: {{ air.airing.record_company|cut:";" }}<br/>{% endif %}
                                {% endif %}
                            {%  endif %}
                        {% endspaceless %}
						</div>
					</div>
					{% endfor %}
					
					<div class="row margintop">
						<div class="col-sm-12">
							<a href="#top">Back to Top</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
</section>
{% endblock %}		