<div class="row">
	<div class="col-sm-12 text-center">
		<a href="http://rescorp.org/" target="_blank"><img src="https://hotelcongress.com/family/the-cup/" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Cup Cafe></a>
		<span class="support-message">
			Supported by <a href="https://hotelcongress.com/family/the-cup/" target="_blank" style="font-style:italic;">Cup Cafe</a>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<a href="http://www.billwestcott.com/" target="_blank"><img src="https://media.azpm.org/master/img/uw/2019/12/westcott-v3_OI801lL.jpg" class="img-responsive" style="margin:30px auto 10px auto;" alt="Bill Wescott"></a>
		<span class="support-message">
			Supported by <a href="http://www.billwestcott.com/" target="_blank">Bill Wescott, Inc.</a>
		</span>
	</div>
</div>