<!-- NPR -->
<div class="row">
	<div class="col-sm-12 text-center">
		<a href="https://www.tubacartandgifts.com/" target="_blank"><img src="https://media.azpm.org/master/image/2022/10/4/squaread/tubac.jpg" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Tubac Art and Gifts"></a>
		<span class="support-message">
			Supported by <a href="https://www.tubacartandgifts.com" target="_blank">Tubac Art and Gifts</a>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<a href="https://mayapalace.com/" target="_blank"><img src="https://media.azpm.org/master/image/2023/4/27/squaread/maya-palace-2.jpg" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Maya Palace"></a>
		<span class="support-message">
			Supported by <a href="https://mayapalace.com/" target="_blank">Maya Palace</a>
		</span>
	</div>
</div>