<div class="row">	
	<div class="col-sm-12 text-center">
		<a href="https://webcms.pima.gov/cms/one.aspx?portalId=169&pageId=192695" target="_blank"><img src="https://media.azpm.org/master/image/2021/2/23/squaread/pdeq.png" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Pima County Department of Environmental Quality"></a>
		<span class="support-message">
			Supported by <a href="https://webcms.pima.gov/cms/one.aspx?portalId=169&pageId=192695" target="_blank">Pima County Dept of Environmental Quality</a>
		</span>
	</div>
</div>
<div class="row">	
	<div class="col-sm-12 text-center">
		<a href="http://www.billwestcott.com/" target="_blank"><img src="https://media.azpm.org/master/image/2021/2/23/squaread/wescott3psd.jpg" class="img-responsive" style="margin:30px auto 10px auto;" alt="Bill Wescott"></a>
		<span class="support-message">
			Supported by <a href="http://www.billwestcott.com/" target="_blank">Bill Wescott, Inc.</a>
		</span>
	</div>
</div>