<!-- NPR -->
<div class="row">
	<div class="col-sm-12 text-center">
		<a href="https://broadwayintucson.com/the-lion-king/" target="_blank"><img src="https://media.azpm.org/master/image/2022/7/1/squaread/tlk_672_azpm.png" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Broadway in Tucson"></a>
		<span class="support-message">
			Supported by <a href="https://broadwayintucson.com/the-lion-king/" target="_blank">Broadway in Tucson</a>
		</span>
	</div>
</div>
<div class="row margintop">
	<div class="col-sm-12 text-center">
		<a href="https://www.solarstore.com/" target="_blank"><img src="https://media.azpm.org/master/image/2022/7/7/squaread/solarstore1.jpg" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="The Solar Store"></a>
		<span class="support-message">
			Supported by <a href="https://www.solarstore.com/" target="_blank">The Solar Store</a>
		</span>
	</div>
</div>